<%- include('partials/headerAdmin'); -%>

<!-- Recent Orders  -->
<div class="p-2 m-3 border rounded" style="background-color: white; box-shadow: 0px 0px 5px grey;">
    <div class="border-bottom px-2 pt-2 mb-4">
        <h3 class="pb-2 d-inline-block"><i class="fas fa-users"></i> Users</h3>
    </div>
    <div class="table-responsive"> 
        <table class="table table-striped mb-5">            
            <thead class="thead-dark">
                <tr>
                    <th scope="col">user ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th> 
                    <th scope="col">Phone</th>
                    <th scope="col">Admin</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                    <tr>
                        <th scope="row"><%= user._id %></th>
                        <td><%= user.fullName %></td>
                        <td><%= user.username %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.admin %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footerAdmin'); -%>